$font-color:#000000;
$blue: #5600DE;
$orange: #FF6F31;

$xlg-screen: 1350px;
$lg-screen: 992px;
$md-screen: 768px;
$sm-screen: 576px;

$xlg-screen-min: $xlg-screen - 1;
$lg-screen-min: $lg-screen - 1;
$md-screen-min: $md-screen - 1;
$sm-screen-min: $sm-screen - 1;